.example1, .example2, .example3 { margin: 1rem 0; }
.example3 { position: relative; }
.example3 .counter-shape,
.example2 {
    background-color: red;
    height: 50px;
}
.example3 .counter-number {
    position: absolute;
    top: 0;
}